<!DOCTYPE html>
<html>
<head>
	<title>Trip Planner</title>
	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="public/stylesheets/index.css" rel="stylesheet">
</head>
<body>

<nav>
	<label><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>TRIP PLANNER</label>

	<ul>
		<li><a href="/index">Home</a></li>
		<li>About</li>
		<li>Contact</li>
	</ul>
</nav>


{% block content %}{% endblock %}

<script src="jquery/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeweA4D67OTOhIVb2_WuYvBWbU0DhA0Qc&sensor=true"></script>
</body>
</html>